.container {
    width: 517px;
    height: 380px;
    margin: 10px auto;
    padding: 10px;
}
img {
    margin-left: 125px;
    display: block;
	border: 1px solid white;
    height: 50px;
    width: 200px;
}
h1 {
    display: inline-block;
    padding: 10px;
    margin-left: 155px;
    width: 300px;
}
ul {
    list-style-type: none; 
    margin: 0px; 
    padding: 0px; 
    width: 60%;
}
    li {
        margin: 0 2px 2px 2px; 
        padding-left: 1.5em; 
        font-size: 1.4em;
    }